<main
  class='flex w-[327px] flex-col rounded-2xl bg-[#15263F] p-6 shadow-[0px_25px_50px_rgba(0,0,0,0.10)] 2xl:w-[350px]'
>
  <div class='group relative mb-6 cursor-pointer overflow-hidden rounded-lg'>
    <img src='/image-equilibrium.jpg' alt='Crypto preview' />
    <div
      class='absolute inset-0 flex origin-bottom scale-y-0 items-center justify-center bg-[#00FFF8] bg-opacity-50 transition-all group-hover:scale-y-100'
    >
      <img src='/icon-view.svg' alt='Icon view' />
    </div>
  </div>
  <h1
    class='mb-3 cursor-pointer text-[22px] font-semibold leading-[normal] text-white transition-colors hover:text-[#00FFF8]'
  >
    Equilibrium #3429
  </h1>
  <p class='mb-4 text-lg font-light leading-[26px] text-[#8BACD9]'>
    Our Equilibrium collection promotes balance and calm.
  </p>
  <div class='mb-4 flex justify-between'>
    <div class='flex items-center gap-1.5'>
      <img src='/icon-ethereum.svg' alt='Icon etherum' />
      <span class='text-[15px] font-semibold leading-[normal] text-[#00FFF8] 2xl:text-base'
        >0.041 ETH</span
      >
    </div>
    <div class='flex items-center gap-2'>
      <img src='/icon-clock.svg' alt='Icon clock' class='w-[17px]' />
      <span class='text-[15px] leading-[normal] text-[#8BACD9] 2xl:text-base'>3 days left</span>
    </div>
  </div>
  <hr class='mb-4 border-[#2E405A]' />
  <div class='flex items-center gap-4'>
    <img
      src='/image-avatar.png'
      alt='Creator avatar'
      class='w-8 rounded-full border border-white'
    />
    <div class='text-[15px] leading-[normal] text-[#8BACD9] 2xl:text-base'>
      Creation of <span class='cursor-pointer text-white transition-colors hover:text-[#00FFF8]'
        >Jules Wyvern</span
      >
    </div>
  </div>
</main>
