---
import '../styles.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon-32x32.png' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body class='flex h-screen items-center justify-center bg-[#0D192C] px-6 py-[62px]'>
    <slot />
  </body>
</html>
